@import 'variables'; 
mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border-bottom: 1px solid $primary;
}
.content {
  width: 100%;
  padding: 0;

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    margin: 0;
    .header {
      // width: 100%;
      // margin: 10px;
      border-bottom: 1px solid $primary; //primary
      padding: 10px;
      display: flex;
      justify-content: space-between;

      span {
        padding-top: 10px;
      }

      button {
        border: 1px solid $primary;
        color: $primary;
      }
    }

    .inputs {
      padding: 20px;

      input[type=text],input[type=number], mat-select {
        width: 90%;
        padding: 10px;
        margin: 5px;
        outline: none;
        border: 1px solid $primary;
        border-radius: 5px;
      }
      input[type="file"] {
        visibility: hidden;
      }
      .image-btn{
        background-color: $primary;
        color: $white;
      }

      .image-preview {
        height: 5rem;
        margin: 1rem 0;
        display: flex;

        img {
          height: 100%;
        }
      }
    }
  }
  // height: calc(100vh - 20px);
}
