<div class="content">
    <div class="spinner-wrapper" *ngIf="hasLoaded">
        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode">
        </mat-progress-spinner>
    </div>
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="!hasLoaded">

        <div class="header">
            <span>New Product</span>
            <button mat-stroked-button type="submit" [disabled]="!productForm.valid"> Add Product</button>
        </div>

        <div class="inputs">
            <div class="form-group">
                <label for="title">Product Name</label>
                <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter Product Name" required>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" class="form-control" formControlName="quantity" placeholder="Enter Quantity" required>
            </div>

            
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" class="form-control" formControlName="price" placeholder="Enter Price"
                    required>
            </div>

            <div class="form-group">
                <mat-label for="category">Category</mat-label>
                <mat-select name="category" id="category" class="form-control" formControlName="category" required>
                    <mat-option *ngFor="let category of categories" [value]="category.value"> {{category.viewValue}} </mat-option>
                </mat-select>
            </div>

            <div class="form-group">
                <label for="category">Description</label>
                <input type="text" id="category" class="form-control" formControlName="description" placeholder="Enter Category Name"
                    required>
            </div>

            <div class="form-group">
                <label for="category">Upload Image</label>
                <button mat-flat-button class="image-btn" type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePick($event)" multiple>
            </div>

            <p class="prev"> {{imagePreview | json}} </p>
      
        </div>
    </form>
</div>