<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" [opened]="isOpened">
    <div class="header">
      <h1 class="mat-h1">E-commerce</h1>
    </div>
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <a matLine routerLink="" routerLinkActive="active">Home</a>
      </mat-list-item>

      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>inventory</mat-icon>
        </button>
        <a matLine routerLink="/products" routerLinkActive="active">Products</a>
      </mat-list-item>

      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>list</mat-icon>
        </button>
        <a matLine routerLink="/categories" routerLinkActive="active">Categories </a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="user-header">
      <form class="search-form">
        <input type="text" placeholder="Search">
        <!-- <mat-icon class="mat-icons-round">home</mat-icon> -->
      </form>
    
      <div class="user-panel">
        <span mat-mini-fab>
          <mat-icon>notifications</mat-icon>
        </span>

        <span mat-mini-fab>
          <mat-icon>help_outline</mat-icon>
        </span>

        <button class="user" mat-button [matMenuTriggerFor]="menu">
          <img src="assets/doe.jpeg">
          <span>John Doe</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
       
        
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
