@import 'variables';

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-list-item{
    color: $primary;

    &:hover{
      color: $accent
    }
  }

  mat-sidenav{
    width: 200px;

    .header{
      color: $primary;
      padding: 10px;
      margin: 5px;
      font-weight: bold;
      text-align: center;
    }
  }
  mat-sidenav-content{
    background: linear-gradient( $primary 50%, $white 50%);

    .user-header{
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .search-form{
        width: 20%;

        input{
          width: 100%;
          padding: 15px;
          outline: none;
          border: none;
          border-radius: 25px;

          &::placeholder{
            font-weight: bold;
          }
        }
      }

      .user-panel{
        width: 40%;
        color: $white;
        margin: 1px;
        display: flex;
        padding: 5px;
        justify-content: space-evenly;

        span{
          cursor: pointer;

          &:hover{
            color: $accent;
          }
          
        }

        .user{
          display: flex;
          justify-content: space-around;
          // width: 25%;

          img{
            width: 20%;
            height: auto;
            border-radius: 50%;
          }
        }
      }
    }
  }
}