.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.header{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span{
    color: #fff;
  }
}

.content {
  justify-content: center;
  padding: 2%;

  mat-accordion {
    .headings {
      display: flex;
      flex-direction: row;

      &-title {
        width: 27.5%;
      }
      &-description {
        width: 60%;
      }
    }
    a{
        text-decoration: none;
    }
    .name{
      text-transform: capitalize;
      
    }

    mat-expansion-panel-header {
      .bold {
        font-weight: bold;
      }
      mat-panel-title {
        width: 20%;
        text-overflow: ellipsis;
      }

      mat-panel-description {
        width: 60%;
        text-overflow: ellipsis;
      }
    }

    .contents {
      display: flex;
      flex-direction: row;
      .image {
        width: 50%;
        margin: 10px;
        img {
          width: 100%;
        }
      }

      mat-card-content {
        margin: 10px;
        width: 50%;
      }
      li {
        list-style: none;
      }

      .detail-flex {
        display: flex;
        // justify-content: space-between;
        margin-bottom: 20px;

        div {
          width: 50%;
        }
      }
    }
  }
}
.mat-content {
  flex: none;
}
