<div class="wrapper" *ngIf="!hasLoaded">
  <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode">
  </mat-progress-spinner>
</div>


<button mat-raised-button (click)="onAddProduct()">Add Product</button>


<table class="mat-elevation-z8" *ngIf="!hasLoaded && hasgone">
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let product of products" (click)="onOpenDetails(12)">
      <td>{{product.id}}</td>
      <td>{{product.title}}s</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
    </tr>
</table>

<!-- {{products | json}} -->