<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <span class="title">E-Commerce</span>
      <mat-nav-list>
        <mat-list-item>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <a matLine href="...">Home</a>
        </mat-list-item>

        <mat-list-item>
          <a matLine href="...">Products</a>
        </mat-list-item>

        <mat-list-item>
          <a matLine href="...">Categories</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-grid-list cols="4" rowHeight="175px">
        <mat-grid-tile >
          <mat-card class="dashboard-card">
            <mat-card-header><mat-card-title> 28</mat-card-title></mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div><button mat-raised-button color="primary" (click)="getProducts()">Products</button></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title> {{29}} </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div><button mat-raised-button color="primary" (click)="getProducts()">Categories</button></div>
            </mat-card-content>
          </mat-card>

          
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
</div>